{% extends "base.html" %}
{% block title %} &ndash; {{ _('Archives') }}{% endblock %}

{% block content %}

{# categories.html #}
{# dont use single class #}
<article>
  <header>
    <h1 id="categories">{{ _('Categories') }}</h1>
  </header>
  
  {# added #}
  <div class="tag-cloud">
    <p>
      {% for category, articles in categories|sort %}
      <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
      {% endfor %}
    </p>
  </div>
</article>

{# added #}
<article>
  <header>
    <h1 id="tags">{{ _('Tags') }}</h1>
  </header>
  <div class="tag-cloud">
    <p>
      {%- for tag, articles in tags|sort %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    </p>
  </div>
</article>


{# archives.html #}
<article class="single">
  <header>
    <h1 id="archives">{{ _('Posts') }}</h1>
  </header>
  <div>
    <ul class="post">
      {% set previous_date = False %}
      {% for article in dates %}
        {% if article.locale_date != previous_date %}
          {% set previous_date = article.locale_date %}
     {# dont show date #}
     {# <dt>{{ article.locale_date }}</dt> #}
        {% endif %}
      <li>
        <a class="post" href="{{ SITEURL }}/{{ article.url }}">
            <div class="each">
              {{ article.title }}
              <span class="gray">{{ article.locale_date }}</span>
            </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
