/* custom.css */


/* revert main in style.min.css */
body {
    width: initial;
}

main {
    height: 100vh;
    width: initial;
    position: initial;
    overflow-x: initial;
}



h1 {
    font-size: 3em;
    font-weight: bold;
}

h1 a {
    color: #000000;
}

/* navigation */
main nav a {
    padding: 0 8px;
    border-left: none;
    border-right: none;
}

/* ... solo es visible si el width de la pantalla es mayor a 400px (desktop) */
@media screen and (min-width: 1000px) {
    
    /* more padding on bigger screens */
    main nav a {
        padding: 0 30px;
    }
    
    /* crea una columna como contenido y la centra */
    main article {
        margin: 0 auto;
        max-width: 960px;
    }

}

/* margin for list of posts */
dl dd {
    margin: 10px 0;
}

/* for notebook */
.prompt {
    min-width: initial !important;
    padding: initial !important;
}

div.cell {
    padding: 5px 0 !important;  /*ocupan el padding vertical para las celdas*/
    border-width: 0px !important;
}
    
div.text_cell_render {
    padding: 0 !important;
}


/* lista de posts */
a.post {
    display: block;
    font-weight: bold;
}

ul.post {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

ul.post a {
    color: #000000;
}

ul.post li:first-child {
    margin: 10px 0 0 0;  /* margin at the top of the list */
}
ul.post li:last-child {
    margin: 0 0 10px 0;  /* margin at the end of the list */
}

span.gray {
    display:block;
    color: #c0c0c0;
    font-size: 0.9em;
    font-weight: normal;

}

.each{
    padding: 20px;
}

.each:hover{
    border:none;
    background: #f2f2f2;
    border-radius: 4px;
}
