/* custom.css */


/* revert main in style.min.css */
body {
    width: initial;
    font-family: Linux Libertine, Source Sans Pro, Roboto, Open Sans, Liberation Sans, DejaVu Sans, Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.22em;
}

main {
    height: 100vh;
    width: initial;
    position: initial;
    overflow-x: initial;
}

main article pre {
    font-size: .8em;
}

main nav {
    font-family: Source Sans Pro, Roboto, Open Sans, Liberation Sans, DejaVu Sans, Verdana, Helvetica, Arial, sans-serif;
    font-size: .62em;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h1 a {
    color: #000000;
}

/* navigation */
main nav a {
    padding: 0 8px;
    border-left: none;
    border-right: none;
}

/* ... solo es visible si el width de la pantalla es mayor a 400px (desktop) */
@media screen and (min-width: 1000px) {
    
    /* more padding on bigger screens */
    main nav a {
        padding: 0 30px;
    }
    
    /* crea una columna como contenido y la centra */
    main article {
        margin: 0 auto;
        max-width: 960px;
    }

}

/* margin for list of posts */
dl dd {
    margin: 10px 0;
}

/* for notebook */
.prompt {
    min-width: initial !important;
    padding: initial !important;
}

div.cell {
    padding: 5px 0 !important;  /*ocupan el padding vertical para las celdas*/
    border-width: 0px !important;
}
    
div.text_cell_render {
    padding: 0 !important;
}
